{% extends "template_backoffice.html.twig" %}
{% set adminMenu = true %}
{% block title %}Administration{% endblock %}
{% block content %}
    {% for flashMessage in app.session.flashbag.get('success') %}
    	<div class="card-panel teal lighten-5">
			<span class="teal-text darken-4"><strong>{{ flashMessage }}</strong></span>
		</div>
	{% endfor %}
	{% if posts %}
		<div class="container">
        	<div class="section">
                {% for post in posts %}		{# Recover the first three post #}
                	
                    <article>
                    	<div class="row">
                    		<div class="col s12">
                    			<h5 class="class="grey-text-darken-2"">{{ post.title }}</h5>
                    			<h6 class="grey-text">Par: {{ post.author.username }} Le: {{ post.date|date("d/m/Y H:i:s") }}</h6>
                    			<div class="row">
                    				<div class="col s12 m6 l8">
                    					<p>{{ post.content[:500]|raw }} <a href="{{ path('post', { 'id': post.id }) }}"><trong>...</trong></a></p>
                    				</div>
                    				<div class="col s12 m6 l4">
                    					<img class="materialboxed responsive-img activator" src="{{ post.media.1 }}/{{ post.media.0 }}">
                    					<br/><br/>
                    					<div class="fixed-action-btn horizontal right-align">
                                            <a class="btn-floating btn-large light-blue">
                                            	<i class="large material-icons">menu</i>
                                            </a>
                                            <ul>
                                            	<li><a class="btn-floating red" href="{{ path('admin_post_remove', {'id':post.id}) }}"><i class="material-icons">delete</i></a></li>
                                            	<li><a class="btn-floating green" href="{{ path('admin_post_edit', {'id':post.id}) }}"><i class="material-icons">edit</i></a></li>
                                            </ul>
                                      	</div>
                    				</div>
                    			</div>
                    		</div>
                    	</div>
                    </article>
                {% endfor %}
            </div>
		</div>
    {% endif %}
{% endblock %}
