{% extends "template.html.twig" %}
{% set adminMenu = true %}
{% block title %}Author{% endblock %}
{% block content %}
	<h2>{{ block('title') }}</h2>
    {% for flashMessage in app.session.flashbag.get('success') %}
    	<div class="card-panel teal lighten-5">
			<span class="teal-text darken-4"><strong>{{ flashMessage }}</strong></span>
		</div>
	{% endfor %}
	{% if posts %}
		{% for post in posts %}		{# Recover the first three post #}
        	<article>
            	<div class="row">
                	<div class="col s12">
                		<h5 class="class="grey-text-darken-2"">{{ post.title }}</h5>
                		<h6 class="grey-text">{{ post.date|date("d/m/Y h:i:s") }}</h6>
                		<div class="row">
                			<div class="col s12 m6 l8">
                				<p>{{ post.content[:500] }} <a href="{{ path('post', { 'id': post.id }) }}"><trong>...</trong></a></p>
                			</div>
                			<div class="col s12 m6 l4">
                				<img class="materialboxed responsive-img activator" src="{{ asset('/img/background3.jpg') }}">
                				<br/><br/>
                				<a class="btn light-teal waves-effect wave-light" href="{{ path('post', { 'id': post.id }) }}">Lire l'article complet</a>
                			</div>
                		</div>
               		</div>
               	</div>
            </article>
         {% endfor %}
    {% endif %}
{% endblock %}