{% extends "template_backoffice.html.twig" %}
{% set adminMenu = true %}
{% block title %}List des Commentaire non lue{% endblock %}
{% block content %}	
	
	<div class="container">
        <div class="section">
        
        	{# Message #}
            {% for flashMessage in app.session.flashbag.get('success') %}
            	<div class="card-panel teal lighten-5">
        			<span class="teal-text darken-4"><strong>{{ flashMessage }}</strong></span>
        		</div>
        	{% endfor %}
        	
        	{# List of comments #}
        	<h4>{{ block('title') }}</h4>
            <table class="highlight">
                <thead>
                <tr>
                <th>Billets</th>
                <th>Auteur</th>
                <th>Contenue</th>
                <th>Actions</th>
                </tr>
                </thead>
                <div class="col s12">
                    <tbody>
                        {% if comments %}
                            {% for comment in comments %}
                                <tr>
                                    <td>{{ comment.post.title }}</td>
                                    <td>{{ comment.author.username }}</td>
                                    <td>{{ comment.content[:80] }}...</td>
                                    <td>
                                        <a href="{{ path('admin_Comment_read', {'id': comment.id}) }}" id="{{ comment.id }}" class="btn-floating btn-small waves-effect waves-light green">
                                        	<i class="material-icons">done</i>
                                        </a>
                                        <a href="{{ path('admin_comment_delete', {'id': comment.id}) }}" id="{{ comment.id }}" class="btn-floating btn-small waves-effect waves-light red">
                                        	<i class="material-icons">delete</i>
                                        </a>
                                        <a href="#comment_{{ comment.id }}" class="btn-floating btn-small waves-effect waves-light blue modal-trigger">
                                        	<i class="material-icons">more_vert</i>
                                        </a>
                                        <div id="comment_{{ comment.id }}" class="modal">
                                            <div class="modal-content">
                                                <h5>{{ comment.post.title }}</h5>
                                                <p>Commentaire posté par: <strong>{{ comment.author.username }}</strong>. Le: {{ comment.dateComment|date("d/m/Y H:i") }}</p>
                                                <hr>
                                                <p>{{ comment.content }}</p>
                                            </div>
                                            <div class="modal-footer">
                                                <a href="{{ path('admin_comment_delete', {'id': comment.id}) }}" id="{{ comment.id }}" class="modal-action mopdal-close waves-effect waves-red btn-flat">
                                                	<i class="material-icons">delete</i>
                                                </a>
                                                <a href="{{ path('admin_Comment_read', {'id': comment.id}) }}" id="{{ comment.id }}" class="modal-action mopdal-close waves-effect waves-green btn-flat">
                                                	<i class="material-icons">done</i>
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>                         
                            {% endfor %}    	
                        {% else %}
                            <tr>
                            	<td colspan="4" class="title">Tout les commentaires en été lu.</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </div>
            </table>
        </div>
	</div>
{% endblock %}
