{# Viewing comments #}
<div class="row" id="comment{{ comment.id }}" style="margin: 1px;">
    <div class="col s12">
        <div class="card-panel teal lighten-4">
            <h6 class="grey-text">Par: {{ comment.author.username }} Le: {{ comment.dateComment|date("d/m/Y H:i:s") }}</h6>
            <p>{{ comment.content }}</p>
            
            <div class="right-align">
                {% if (comment.depth < 3) %}
                	<button class="waves-effect waves-teal btn-flat reply" data-id="{{ comment.id }}" data-name="{{ comment.depth }}">Répondre</button>
                {% endif %}
                <button class="waves-effect waves-teal btn-flat reply">Signaler</button>
            </div>
        </div>
	</div>	
</div>

{# Retrieving replies #}
<div style="margin-left: 50px;">
	{% if comment.children is defined %}
	    {% for comment in comment.children %}
		    {% include "comment_post.html.twig"%}
	    {% endfor %}
    {% endif %}
</div>