{% extend "template.html.twig" %}
{% block title %}{{ post.title }}{% endblock %}

{% bloc content %}
	<div id="index-banner" class="parallax-container">
        <div class="parallax"><img src="{{ asset('/img/background3.jpg') }}" alt="Unsplashed background img 1"></div>
	</div>

	<div class="container">
		<div class="section">
			<h3>
            	<p>- {{ post.title }} <span class="date_size">{{ post.date }}</span></p>
            </h3>
            <p>{{ post.content }}</p>
            
            {# Recover all the comments of the article #}
            {% for comment in comments %}
            	<p{{ comment.date }}</p>
            	<p>{{ comment.content }}</p>
            {% else %}
            	<p>Aucun commentaire lier à ce billet.</p>
            {% endfor %}
		</div>
	</div>        
{% endblock %}