{% extends 'template_backoffice.html.twig' %}
{% set adminMenu = true %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
    <div class="container">
    	<h2>{{ block('title') }}</h2>
        
    	{{ form_start(postForm, { 'attr': {'class': 'form-horizontal'}}) }}
    		<div class="row">
    			<div class="input-field col s12">
    				{{ form_errors(postForm.title) }}
    				{{ form_widget(postForm.title, { 'attr': {
    				    'class': 'form-control',
    				    'name' : 'title',
    				    'id'   : 'title'
    				}}) }}
    				<label for="title">Titre</label>
    			</div>  	
     
        		<div class="input-field col s12">
        			{{ form_errors(postForm.content) }}
        			{{ form_widget(postForm.content, { 'attr': {
        			    'class'    : 'materialize-textarea postedit',
                    	'rows'     : '8'
        			}}) }}
        		</div>
        		
        		{# Upload an image#}
            	<div class="col s12">
            		<div class="input-field file-field">
            			<div class="btn light-blue col s2">
            				<span>Image du billet</span>
            				<input type="file" name="image" class="col s12"/>
            			</div>
            			<input type="text" class="file-path col s10" readonly/>
            		</div>
            	</div>
            	
            	{# switch for publish a post or no  #}
            	<div class="col s6">
            		<p>publier</p>
            		<div class="switch">
            			<label>
            				Non
            				{{ form_errors(postForm.publish) }}
        			        {{ form_widget(postForm.publish, { 'attr': {
                    			'name'     : 'public',
                    			'id'       : 'public'
        			        }}) }}
            				<span class="lever light-blue"></span>
            				Oui
            			</label>
            		</div>
            	</div>
                <div class="col s6 right-align">
                	<br/><br/>
                	<button type="submit" class="waves-effect waves-light btn light-blue">Enregistrer</button>
                </div>
    		</div>
    			
        {{ form_end(postForm) }}
        
        {# Display the confirmation message if the post is correctly saved #}
        {% for flashMessage in app.session.flashbag.get('success') %}
    		<div class="card-panel teal lighten-5">
    			<span class="teal-text darken-4"><strong>{{ flashMessage }}</strong></span>
    		</div>
        {% endfor %}
    </div>
{% endblock %}