{% extends "template.html.twig" %}
{% block title %}{{ post.title }}{% endblock %}

{% block content %}
	<div id="index-banner" class="parallax-container">
        <div class="parallax"><img src="{{ post.media.1 }}/{{ post.media.0 }}" alt="Unsplashed background img 1"></div>
	</div>

	<div class="container">
		<div class="section">
			<h4 class="grey-text-darken-2">{{ post.title }}</h4>
			<h6 class="grey-text">Par: {{ post.author.username }} Le:{{ post.date|date("d/m/Y H:i:s") }}</h6>
            <p>{{ post.content|raw }}</p>
            <hr>
            <h5>Commentaires:</h5>
            <div class="comments_comtainer">
            	{% if comments %}
                    {# Recover all the comments of the article #}
                    {% for comment in comments %}
                    	{% include "comment_post.html.twig"%}
                    {% endfor %}
                {% else %}
                    <div class="row">
                        <div class="col s12">
                            <div class="card-panel teal lighten-5">
                            	<p>Aucun commentaire lier à ce billet.</p>
                            </div>
                        </div>	
                    </div>
                	
                {% endif %}
            </div>
            
            <hr>
            {% if commentForm %}
            	{{ form_start(commentForm, {'attr': {'id': 'form-comment'}}) }}
            		
            		{{ form_errors(commentForm.parent_id) }}
                	{{ form_widget(commentForm.parent_id, { 'attr': { 
                		    'name'    : 'parent_id', 
							'value'   : '0',
							'id'      : 'comment_write_parent_id',
                	}}) }}
                	
                	{{ form_errors(commentForm.depth) }}
                	{{ form_widget(commentForm.depth, { 'attr': { 
                		    'name'    : 'depth', 
							'value'   : '0',
							'id'      : 'comment_write_depth',
                	}}) }}
            		
                	<div class="input-field col s12">
                		{{ form_errors(commentForm.content) }}
                		{{ form_widget(commentForm.content, { 'attr': { 
                		    'rows': '4',
                		    'class': 'materialize-textarea',
                		    'id': 'comment1'
                		}}) }}
                		<label for="textarea1">Ajouter votre commentaire</label>
                	</div>
                	<div class="input-field"><input type="submit" class="waves-effect waves-light btn" value="Valider"></div>
                {{ form_end(commentForm) }}
                {% for flashMessage in app.session.flashbag.get('success') %}
                	<div class="card-panel teal lighten-5" id="message">
						<span class="teal-text darken-4"><strong>{{ flashMessage }}</strong></span>
					</div>
				{% endfor %}
            {% else %}
            	<a href="{{ path('signin') }}">Se Connecter</a> pour ajouter un commentere.
            {% endif %}        
		</div>
	</div>        
{% endblock %}