{% extends 'template.html.twig' %}
{% set adminMenu = true %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
    <h2>{{ block('title') }}</h2>
    {% for flashMessage in app.session.flashbag.get('success') %}
    	<div class="card-panel teal lighten-5">
    		<span class="teal-text darken-4"><strong>{{ flashMessage }}</strong></span>
    	</div>
    {% endfor %}
    <div class="well">
    	{{ form_start(postForm, { 'attr': {'class': 'form-horizontal'}}) }}
        	<div class="form-group">
    			{{ form_label(postForm.postTitle, null, { 'label_attr': {
    			    'class': 'cole s12'
    			}}) }}
    			<div class="col s12">
    				{{ form_errors(postForm.postTitle) }}
    				{{ form_widget(postForm.postTitle, { 'attr': {
    				    'class': 'form-control'
    				}}) }}
    			</div>  	
        	</div>
        	<div class="form-group">
        		{{ form_label(postForm.postContent, null, { 'label_attr': {
        		    'class': 'col s12'
        		}}) }}
        		<div claass="col s12">
        			{{ form_errors(postForm.postContent) }}
        			{{ form_widget(postForm.postContent, { 'attr': {
        			    'class': 'materialize-textarea',
                    	'rows': '8'
        			}}) }}
        		</div>
        	</div>
            	<div class="form-group">
            		<input type="submit" class="waves-effect waves-light btn" value="Enregistrer">
            	</div>
        	</div>
        {{ form_end(postForm) }}
    </div>
{% endblock %}