{% extends "template.html.twig" %}
{% set adminMenu = true %}
{% block title %}{{ title }} {% endblock %}
{% block content %}
	<div class="container">
		
		<div class="row">
    		<div class="centers">
    			<h4>{{ block('title') }}:</h4>
    			
    			{# Add user message with success #}
    			{% for flashMessage in app.session.flashbag.get('success') %}
        			<div class="card-panel teal lighten-5">
            			<span class="teal-text darken-4"><strong>{{ flashMessage }} <a href="{{ path('signin') }}">Ce connecter</a></strong></span>
            		</div>
    			{% endfor %}
    			
    			{# Form errors #}
    			{% if form_errors(userForm.password.first) %}
    				<div class="card-panel red lighten-4">
						<span class="red-text darken-4">{{ form_errors(userForm.password.first) }}</span>
					</div>
				{% endif %}
				
				{# Registration Admin Form #}
				<div class="row">
				    {{ form_start(userForm, {'attr': {'class': 'col s12'} }) }}
    				    <div class="row">
    				    	<div class="input-field col s12">
    				    		{{ form_errors (userForm.username) }}
    				    		{{ form_widget (userForm.username, {'attr': {
    				    		    'class': 'validate',
    				    		    'id':    'username'
    				    		} }) }}
    				    		<label for="username">nom d'utilisateur</label>
    				    	</div>
    				    	<div class="input-field col s12">
                				{{ form_errors (userForm.email) }}
    				    		{{ form_widget (userForm.email, {'attr': {
    				    		    'class': 'validate',
    				    		    'id':    'email'
                                } }) }}    
                				<label for="email" data-error="wrong" data-success="right">Email</label>
              				</div>
              				<div class="input-field col s12">
    				    		{{ form_widget (userForm.password.first, {'attr': {
    				    		    'class': 'validate',
    				    		    'id':    'passwordFirst'
                                } }) }}    
                				<label for="passwordFirst">Password</label>
              				</div>
              				<div class="input-field col s12">
    				    		{{ form_widget (userForm.password.second, {'attr': {
    				    		    'class': 'validate',
    				    		    'id':    'passwordSecond'
                                } }) }}    
                				<label for="passwordSecond">Password</label>
              				</div>
              				
              				<div class="col s6">
                            	<br/>
                            	<button type="submit" class="waves-effect waves-light btn teal lighten-2">Enregistrer</button>
                            </div>
    				    
    				    </div>
    				{{ form_end(userForm) }}
				</div>
    		</div>
		</div>
	</div>
{% endblock %}