<!DOCTYPE html>
<html>
    <head>
    	<meta charset="utf-8"/>
 		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<!--Let browser know website is optimized for mobile-->
      	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      	
      	<!--Import Google Icon Font-->
      	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      	<!--Import materialize.css-->
      	<link href="{{ asset('/lib/materialize/css/materialize.css')}}" type="text/css" rel="stylesheet" media="screen,projection"/>
      	<!-- Import blogStyle.css -->
    	<link href="{{ asset('/css/blogStyle.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
    	<title>Blog Ecrivain - {% block title %}{% endblock %}</title>
    </head>
    
    <body>
        <header>
        	<ul id="dropdown1" class="dropdown-content">
  				<li><a href="{{ path('logout') }}">Déconnexion</a></li>
			</ul>
        	<ul id="dropdown2" class="dropdown-content">
  				<li><a href="{{ path('signin') }}">Se connecter</a></li>
  				<li class="divider"></li>
  				<li><a href="{{ path('user_add') }}">Iscription</a></li>
			</ul>
			<ul id="dropdown3" class="dropdown-content">
  				<li><a href="{{ path('logout') }}">Déconnexion</a></li>
			</ul>
        	<ul id="dropdown4" class="dropdown-content">
  				<li><a href="{{ path('signin') }}">Se connecter</a></li>
  				<li class="divider"></li>
  				<li><a href="{{ path('user_add') }}">Iscription</a></li>
			</ul>
				<nav class="teal lighten-2" role="navigation">
                	<div class="nav-wrapper container">
                		<a id="logo-container" href="{{ path('home') }}" class="brand-logo">Jean Forteroche</a>
                		<ul class="right hide-on-med-and-down">
                			{% if app.user and (is_granted('ROLE_ADMIN') or is_granted('ROLE_AUTHOR')) %}
                				<li class="{% if adminMenu is defined %}active{% endif %}">
                					<a href="{{ path('admin') }}"><i class="material-icons">settings</i></a>
                				</li>
                			{% elseif app.user and is_granted('ROLE_MODERATOR') %}
                				<li class="{% if adminMenu is defined %}active{% endif %}">
                					<a href="{{ path('moderator') }}"><i class="material-icons">settings</i></a>
                				</li>
                			{% endif %}
                			<li><a href="{{ path('home') }}"><strong> Acceuil </strong></a></li>
                			<li><a href="{{ path('blog') }}"><strong> Blog </strong></a></li>
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                				<li><a class="dropdown-button" href="#!" data-activates="dropdown1"><strong> Bien-venu {{ app.user.username }} </strong><i class="material-icons right">arrow_drop_down</i></a></li>
                		    {% else %}
                				<li><a class="dropdown-button" href="#!" data-activates="dropdown2"><strong> Connectez-vous </strong><i class="material-icons right">arrow_drop_down</i></a></li>
						    {% endif %}
                  		</ul>
            
                  		<ul id="nav-mobile" class="side-nav">
                    		<li><a href="{{ path('home') }}"><strong> Acceuil </strong></a></li>
                			<li><a href="{{ path('blog') }}"><strong> Blog </strong></a></li>
                			{% if is_granted('IS_AUTHENTICATED_FULLY') %}
                				<li><a class="dropdown-button" href="#!" data-activates="dropdown3"><strong> Bien-venu {{ app.user.username }} </strong><i class="material-icons right">arrow_drop_down</i></a></li>
                		    {% else %}
                				<li><a class="dropdown-button" href="#!" data-activates="dropdown4"><strong> Connectez-vous </strong><i class="material-icons right">arrow_drop_down</i></a></li>
						    {% endif %}
                  		</ul>
                  		<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
                	</div>
          		</nav>
        </header>
        
        <div id="content">{% block content %}{% endblock %}</div>
        
        <footer class="page-footer teal">
    		<div class="container">
      			<div class="row">
        			<div class="col l6 s12">
          				<h5 class="white-text"><u>Biographi de l'auteur</u></h5>
          				<p class="grey-text text-lighten-4"><u>Jean Forteroche:</u> Ecrivain fraçais né le 12 juin 1970 à Bardeaux.<br/>
          				Praesent in mauris eu tortor porttitor accumsan. Mauris suscipit, ligula sit amet pharetra semper, nibh ante cursus purus, vel sagittis velit mauris vel metus. 
          				Aenean fermentum risus id tortor.<br/> 
          				Integer imperdiet lectus quis justo, Integer tempor, Vivamus ac urna vel leo pretium.
          				</p>
        			</div>
        			<div class="col l3 s12">
          				<h5 class="white-text"><u>Réseaux sociaux</u></h5>
          				<ul>
            				<li><a class="white-text" href="https://www.facebook.com/"><strong><u>facebook</u></strong></li>
            				<br/>
            				<li><a class="white-text" href="https://twitter.com"><strong><u>twitter</u></strong></a></li>
            				<br/>
                            <li><a class="white-text" href="https://fr.linkedin.com/"><strong><u>Linkedin</u></strong></a></li>
                            <br/>
                            <li><a class="white-text" href="https://plus.google.com"><strong><u>Google +</u></strong></a></li>
         			 	</ul>
        			</div>
        			<div class="col l3 s12">
                    		<h5 class="white-text"><u>Contacter moi</u></h5>
                            <ul>
                                <li class="white-text"><i class="material-icons">call</i><br><u>06 88 89 88 89</u></li>
                                <br/>
                                <li class="white-text"><i class="material-icons">email</i><br><u>jean.forteroche@gmail.com</u></li>
          					</ul>
        			</div>
      			</div>
    		</div>
    		<div class="footer-copyright">
      			<div class="container">
      				Ecrivain: <a class="brown-text text-lighten-3" href="{{ path('home') }}">Jean Forteroche</a>
      			</div>
    		</div>
		</footer>
    		
    </body>
    <!--Import jQuery before materialize.js-->
     <!-- script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script-->
     <script src="{{ asset('/js/jquery-3.2.1.min.js') }}js/init.js"></script>
     <script type="text/javascript" src="{{ asset('/lib/materialize/js/materialize.min.js') }}"></script>
     <script src="{{ asset('/js/init.js') }}js/init.js"></script>
     
</html>