{% extends "template_backoffice.html.twig" %}
{% set adminMenu = true %}
{% block title %}List des utilsateurs{% endblock %}
{% block content %}	
	
	<div class="container">
        <div class="section">
        
        	{# Message #}
            {% for flashMessage in app.session.flashbag.get('success') %}
            	<div class="card-panel teal lighten-5">
        			<span class="teal-text darken-4"><strong>{{ flashMessage }}</strong></span>
        		</div>
        	{% endfor %}
        	
        	{# List of comments #}
        	<h4>{{ block('title') }}</h4>
            <table class="highlight">
                <thead>
                <tr>
                <th>Login</th>
                <th>E-mail</th>
                <th>Role</th>
                <th>Actions 
                	<a href="#" id="#" class="btn-floating btn-small waves-effect waves-light light-blue right-align">
                    	<i class="material-icons">add</i>
                    </a>
                </th>
                </tr>
                </thead>
                <div class="col s12">
                    <tbody>
                        {% if users %}
                            {% for user in users %}
                                <tr>
                                    <td>{{ user.login }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.role }}...</td>
                                    <td>
                                        <a href="#{#{ path('admin_Comment_read', {'id': comment.id}) }#}" id="{{ comment.id }}" class="btn-floating btn-small waves-effect waves-light green">
                                        	<i class="material-icons">done</i>
                                        </a>
                                        <a href="#" id="#" class="btn-floating btn-small waves-effect waves-light red">
                                        	<i class="material-icons">delete</i>
                                        </a>
                                        <a href="#" class="btn-floating btn-small waves-effect waves-light blue modal-trigger">
                                        	<i class="material-icons">edit</i>
                                        </a>
                                        
                                    </td>
                                </tr>                         
                            {% endfor %}    	
                        {% else %}
                            <tr>
                            	<td colspan="4" class="title">Aucun utilisateur trouver</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </div>
            </table>
        </div>
	</div>
{% endblock %}
